
{%extends 'PickMyWaste/index.html' %}

{% block title%} Create New Listing {%endblock%}

{%block content%}
<div class="card">
<h1>Create New Listing</h1>
<form class="col-lg-6 offset-lg-3 " method="post" action="/PickMyWaste/create/">
    {%csrf_token%}
    {{form.as_p}} 
    <button type="submit", name="save" >Create New</button>
</form>
</div>


{%endblock%}

<!-- creating forms -->
<!-- django will generate the html to create form for us with {{form}}-->
<!-- form.as_ul for list item -->
<!-- {%csrf_token%} need to add every time we create a form (for security) -->