
{%extends 'PickMyWaste/index.html' %}

{% block title%} Create New Listing {%endblock%}

{%block content%}
<div class="jumbotron">
    <div class="container">

    <h1 class="display-5">Create New Listing</h1>
    <br></br>
</div>
</div>

<form class="col-lg-6 offset-lg-3 " method="post" action="/PickMyWaste/create/">
    {%csrf_token%}
    {{form.as_p}} 
    <button type="submit", name="save" class="btn btn-lg btn-danger" >Create New</button>
</form>
</div>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-11">
<hr>

</div> <!-- /container -->



<footer class="container">
<p>&copy; Hang's World</p>
</footer>
{%endblock%}
