{%extends "PickMyWaste/index.html"%}
{%block title%}FoodList{%endblock%}


{%block content%}
Check food listing by company
<form method="post" action="/PickMyWaste/foodlist/">
    {%csrf_token%}
    {{form}} 
    <button type="submit", name="save" >Get Food Listing</button>
<ul>
    {%for food in object_list%}
    <li>{{food.title}}-{{food.description}}</li>
    {% endfor %}
</ul>
<!-- <div class="row"> -->
<!-- <div class="mb-3 col-12 col-sm-3>"> -->
<div class=".mx auto">
<div class="card w-25">{%if donor.address%}
    <h2="card-header">Contact Info</h2>
    <div class-="card-body">
<p class="card text">Address: {{donor.address}} Phone Number: {{donor.phone}} email:{{donor.email}}<p>
</div>
{%endif%}</div>
 </div>
</div> 



{%endblock%}
 


 




   