{%extends 'PickMyWaste/index.html' %}



{% block content %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
<div class="jumbotron">
    <div class="container">
<br></br>
<div class="card border-dark mb-3"  style="max-width: 18rem;">
    <h2= class= "card-header" >Your contribution on {{food.pub_date}} </h2>
    <div class="card-body">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Food Item: {{food.title}}</li>
            <li class="list-group-item"> Description: {{food.description}}
        <li class="list-group-item">  expiration date: {{food.expiration_date}}</li>
                <li class="list-group-item"> pre-packaged: {{food.prepackaged}}</li>
                        <li class="list-group-item">perishable: {{food.perishable}}</li>
                    </div>
                </div>
        
                </div>
                </div>

                <div class="container">
                    <div class="row">
                      <div class="col-md-11">
                <hr>

            </div> 
        
 
        
          <footer class="container">
            <p>&copy; Hang's World</p>
          </footer>
{% endblock%}
