{%extends 'PickMyWaste/index.html' %}

{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">About</h1>
        <p>Food</p>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>View Food Listing</h2>
          <p>Curious to know what you can collect? View all the available food and contact info for each company.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>Register as a contributer and start posting your waste today! Registration is simple and easy. Once registered, post the food item you want to donate and users get the chance to view your food listing. </p>
          <p><a class="btn btn-secondary" href="/PickMyWaste/register" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contact Us</h2>
          <p>Reach out to us if you have any questions, or want to join the team! </p>
          <p class="font-weight-bold">hangtran@gmail.com</p>
         
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container"> 
    <p>&copy; Hang's World</p>

  </footer>

{% endblock%}
