{%extends 'PickMyWaste/index.html' %}


{% block content %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

<div class="jumbotron">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
    <h1 class="display-5">Registration</h1>
    <p class="display-13">Register to be a donator! Fill out the form below and make a difference today!</p>
    <br></br>
</div>
</div>

<form method="post" >
    {%csrf_token%}
    {{form.as_p}} 
    <button type="submit", name="save" class="btn btn-lg btn-danger">Create New</button>
</form> 

</div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
<hr>

</div> 



<footer class="container">
<p>&copy; Hang's World</p>
</footer>

{% endblock%} 